.container{
    border: 3px solid rgb(26, 3, 129);
    padding: 10px;
    background-color: rgb(10, 134, 6)}


    .container-fluid{
        border: 3px solid rgba(236, 4, 205, 0.589);
        padding: 10px;
        background-color: rgb(167, 164, 3)}
